.front{
    display: flex;
    padding: 5%;
    border: 1px black;
}

body{
    grid: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.basic{
    align-items: center;
}


h2{

}

.cards{
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

p{

}


