img {
	max-width: 100%;
    object-fit: cover;
}


@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

header{
  text-align: center;
  display: block;
}

main{
  text-align: center;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
  }

a:link,a:visited {
    color: var(--accent-color);
  }

button{
  all: unset;
}

header,footer{
  background-color: #52489c;
  text-align: center;
  display: block;
}

.words{
  text-align: center;
  --primary-font: Arial, Helvetica, sans-serif;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 equal columns */
  gap: 10px;

}

.hide{
  display: none;
}

@media (max-width: 700) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  header{
    a{
      display: none;
    }
  }
}

@media (max-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}



