img {
	max-width: 100%;
    object-fit: cover;
}


@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
  }
  a:link,
  a:visited {
    color: var(--accent-color);
  }

  button{
    display: none;
  }

  header{
    background-color: #52489c;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 10px;
}

@media (max-width:240px) {
    .img{
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 700px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
  }