img {
	max-width: 100%;
    object-fit: cover;
}


@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

header{
  text-align: center;
  display: block;
}

main{
  text-align: center;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
  }

a:link,a:visited {
    color: var(--accent-color);
  }

button{
  all: unset;
}

h1{
  padding-top: 2%;
}
 
header,footer{
  background-color: #52489c;
  text-align: center;
  display: block;
}

.words{
  text-align: center;
  --primary-font: Arial, Helvetica, sans-serif;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 4 equal columns */
  gap: 10px;

}

.navi a{
  padding: 5%;
}

.navi{
  color: var(--text-light);
  display: none;
  margin: 2% 20%;
}

.viewer{
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns:  1fr;
  color: var(--text-light);
  /* max-width: 100%; */
}

.close-viewer{
  text-align: right;
  
}

.viewer img{
  justify-self: center;
  max-width: 80%;
  padding: 5%;
  
  
  
}

.hide{
  display: none;
}

.show{
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  
}

.menu{
  text-align: center;
}

@media (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  
  }


@media (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .navi{
      display: flex;
      justify-content: space-around ;

    }

    .menu{
      display: none;
    }

    .viewer {
      margin: 5%;

    }

    .viewer img{
      max-height: 50%;
    }
}



