.body{
    border-bottom:1px, black;
    border-top:1px, black;
    border-left: 1px, black;
    border-right: 1px, black;
}
.mission{
    padding-top: 5%;
    text-align: center;
    font-size: 40px;
}

.byu{
    text-align: center;
    font-size: 20px;
    color: blue;
    padding-bottom: 5%;
    border-bottom: black;
    
}
.opening{
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 25%;
    padding-right: 25%;
}

.uni{
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 27%;
    padding-right: 25%;
    font-style: italic;
    
}

.first{
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 27%;
    padding-right: 25%;
    text-indent: 1;
    margin-left: 0, auto;

}

.sec{
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 27%;
    padding-right: 25%;
    text-indent: 1;
    margin-left: 0,auto;
}

.third{
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 27%;
    padding-right: 25%;
    text-indent: 1;
    margin-left: 0,auto;
}

.fourth{
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 27%;
    padding-right: 25%;
    text-indent: 1;
    margin-left: 0,auto;
}

.img{
    padding-left: 43%;
    padding-top: 5%;
    width: 12%;

}
