background{
    color: blue;
}

main{
    grid-template-columns: 3;
    grid-template-rows: 2;
}

h1,h2{
    text-align: center;
}

ul{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    grid-template-columns: 3;
    grid-template-rows: auto;
    display: flex;
    text-align: right;
    padding-inline: 1px
    ;

}

img{
    align-content: center;
    display: flex;
    padding-left: 43%; ;
    padding-right: 45% ;
}

main{
    grid-template-columns: 3fr;
    grid-template-rows: auto;

}


section{
    text-align: center;
    grid-template-columns: (3fr,1);
    grid-template-rows: auto

}

p{
    grid-template-columns: (3fr,1_);
   
    text-align: center;
}

.book {
    min-width: none;
    display: grid;
    grid-template-columns: 20%;
    
}

img{
    grid-template-columns: (3fr,2);
}

.skiptocontent a {
	/* set the element to absolute positioning */
	/* move it off screen */
	/* Make sure it will be on the left edge of the screen */
	/* Change the background and color to something that stands out */
}
.skiptocontent a:focus {
	/* Move it back on when focused */
}